/* .ak{
    display: block;

}
.box{
    display: inline-block;
    height: 250px;
    width: 150px;
    padding:2px;
    margin: 10px;
    text-align:center;
    border: 5px solid white;
}
.box1{
background-color:yellow;
}
.box2{
background-color:brown;
}
.box3{
background-color:grey;
}
.container{
    border: 2px solid black;
    width: 600px;
}
div{
    background-color:aqua;
    height: 300px;
    width:500px;
}
img{
    margin:10px;
}
.p{
    clear:both;
} */


  p{
    font-size:16px;
 }
 /*@media (condition) {
    
    /* CSS rules go here */
 
    /* breakpoints:--
    small phones: 320px
    large phones: 480px
    tablets: 768px  
    desktops: 1024px
    large desktops: 1200px */

    /* @media (max-width: 768px) {
        font-size:12px;
    } */
    .box{
        width:100%;
        height:100px;
        background-color:green;
    }
    @media (min-width: 769px) {
        .box{
            width:50%;
            height:150px;
            background-color:orange;
        }
    }
    a{
        text-decoration:none;
    }
    /* .menu{
        display:none;
    } */
     .container{
        width:100%;
        background-color:lightpink;
        font-size:1em;
     }
     @media (min-width: 1024px) {
        .container{
            width:80%;
            background-color:lightgrey;
            font-size:1.2em;
         }
         h1{
            display:none;
         }
     }