body{
    margin:0;
    font-family: arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:black;
}
.logo{
    color:white;
    font-size:1.5rem;
    
}
/* .menu{
    display:none;
    flex-direction:column;
    position:absolute;
    top:60px;
    right:10px;
    background-color:black;
    width:150px;
    border-radius:8px;
} */
.menu a{
    color:white;
    text-decoration:none;
    padding:1em;
    display:block;
}
.hamburger{
    
    font-size:2em;
    color:white;
    cursor:pointer;
}
@media(minwidth:768px){
    .hamburger{
        display:none;
    }
    .menu{
        display:flex;
        flex-direction:row;
        position:static;
        background-color: none;
        width:auto;
    }
}